 **Task #1: Define a function**
- Which takes an integer n
- With a constraint 1 <= n <= 100
- Has a task, performing the following conditions:
    - if n is odd, print Weird
    - if n is even and in the inclusive range of 2 to 5, print Not Weird
    - if n is even and in the inclusive range of 6 to 20, print Weird
    - if n is even and greater than 20, print Not Weird

In [ ]:
#Option one

def evaluate_number(n):
    if 1 <= n <= 100:
        if n % 2 == 1:
            print("Weird")
        elif n % 2 == 0 and 2 <= n <= 5:
            print("Not Weird")
        elif n % 2 == 0 and 6 <= n <= 20:
            print("Weird")
        elif n % 2 == 0 and n > 20:
            print("Not Weird")
    else:
        print("Please enter a valid integer within the specified range.")

In [ ]:
evaluate_number(101)

In [ ]:
n = int(input("Enter an integer (1 ≤ n ≤ 100): "))
if 1 <= n <= 100:
    if 1 <= n <= 100:
        if n % 2 == 1:
            print("Weird")
        elif n % 2 == 0 and 2 <= n <= 5:
            print("Not Weird")
        elif n % 2 == 0 and 6 <= n <= 20:
            print("Weird")
        elif n % 2 == 0 and n > 20:
            print("Not Weird")
else:
    print("Please enter a valid integer within the specified range.")

In [ ]:
#Option Two

def evaluate_Number1(n):
        if (n % 2 == 1) or n % 2 == 0 and 6 <= n <= 20:
            print("Weird")
        elif (n % 2 == 0 and 2 <= n <= 5) or n % 2 == 0 and n > 20:
            print("Not Weird")

In [ ]:
n = int(input("Enter an integer (1 ≤ n ≤ 100): "))
if 1 <= n <= 100:
    evaluate_Number1(n)
else:
    print("Please enter a valid integer within the specified range.")

In [ ]:
n = int(input("Enter an integer (1 ≤ n ≤ 100): "))
if 1 <= n <= 100:
    evaluate_Number1(n)
else:
    print("Please enter a valid integer within the specified range.")

**TASK #1**

In [ ]:
def check_weirdness():
    n = int(input("Enter an integer (1 ≤ n ≤ 100): "))
    if 1 <= n <= 100:
        if (n % 2 == 1) or n % 2 == 0 and 6 <= n <= 20:
            print("Weird")
        elif (n % 2 == 0 and 2 <= n <= 5) or n % 2 == 0 and n > 20:
            print("Not Weird")
    else:
        print("Please enter a valid integer within the specified range.")

In [ ]:
check_weirdness()

Enter an integer (1 ≤ n ≤ 100): 110
Please enter a valid integer within the specified range.

**Task #2: Indexing and Slicing**

   1.Create a list containing numbers from 1 to 10.

In [ ]:
My_Numbers = [1,2,3,4,5,6,7,8,9,10]

2. Print the first element of the list.

In [ ]:
print(My_Numbers[0])

1

3. Print the last element of the list using negative indexing.

In [ ]:
print(My_Numbers[-1])

10

4. Print elements from the 3rd to 6th position using slicing.

In [ ]:
#Option One
Selected_Elements = My_Numbers[2:6]
print(Selected_Elements)

[3, 4, 5, 6]

In [ ]:
#Option Two
print(My_Numbers[2:6])

[3, 4, 5, 6]

5. Print every alternate element of the list.

In [ ]:
Alternate_Element = (My_Numbers[::2])

In [ ]:
print(Alternate_Element)

**TASK #2**

In [ ]:
# What if a list containing numbers from 1 to 1000?
L = list(range(1001))

# List using variables
start =2
stop = 6
step = 2
f1 = My_Numbers[2:6]
print(f1)
f2 = My_Numbers[start:stop:step]
print(f2)

[3, 4, 5, 6]
[3, 5]

***Task #3: Accessing Nested Lists***  
1. Create a nested list containing three inner lists, each with three
elements.

In [ ]:
Nested_list = [['Java', 'Python', 'SQL'],[1, 2, 3],['Apple', 'Banana', 'orange']]

2. Access the second element of the first inner list.

In [ ]:
print(Nested_list[0][1])

1

3. Access the third element of the third inner list.

In [ ]:
print(Nested_list[2][2])

4. Print the second element of each inner list using a loop.

In [ ]:
for i in Nested_list:
    print(i[1])

Python
2
Banana

**TASK #3**

List = 1DArray = [1,2,3,4]

Nested List = [[1,2],[3,4]] = 2DArray

Nested list of nested list = [[[1,2],[3,4]],[[5,6],[7,8]]] =3DArray

In [ ]:
L = [[[1,2],[3,4]],[[5,6],[7,8]]]

In [ ]:
L[0][1][1]

4

In [ ]:
# 2x3x4

M = [[[1,2,3,4],[5,6,7,8],[9,10,11,12]],[[13,14,15,16],[17,18,19,20],[21,22,23,24]]]

In [ ]:
NL = [[1,2],[3,4,5]] # 2D Array
#print(NL[0])
#print(NL[1])

print(NL[1][2])

5

**Task #4: List Comprehension**  
1. Create a list containing numbers from 1 to 10.

In [ ]:
Our_list = [1,2,3,4,5,6,7,8,9,10]  # What if 1 to 1000?

2. Use list comprehension to create a new list containing only the  
even numbers from the original list.

In [ ]:
even_numbers = [i for i in Our_list if i % 2 == 0]
even_numbers

[2, 4, 6, 8, 10]

In [ ]:
print("Even Number = ", even_numbers)

Even Number =  [2, 4, 6, 8, 10]

3. Use list comprehension to create a new list containing the squares  
of odd numbers from the original list.

In [ ]:
squared_numbers = [n**2 for n in Our_list if n%2==1]

In [ ]:
print("squared Numbers =", squared_numbers)

squared Numbers = [1, 9, 25, 49, 81]

**TASK #4**

**list comprehension**
- which is a concise way to create lists in Python.
- allows to generate lists based on existing iterables, such as lists, strings, or ranges, and apply transformations or filters to elements.

Syntax:

```python
new_list = [expression for item in iterable if condition]
```
Where:
   - _expression_: is the operation or transformation to apply to each item.
   - _item_: is the variable representing each element in the iterable.
   - _iterable_: is the existing iterable (e.g., list, string, range) that you're iterating over.
   - _condition_: is an optional filter that determines whether or not to include the item in the new list.

In [ ]:
# list from list
L = [1, 2, 3, 4, 5]
L1 = [x**2 for x in L]
print(L1)

In [ ]:
# List from Range
r =range(1,6,2) # 1,3,5
L = list(r)
L

[1, 3, 5]

In [ ]:
myName = "Bahiru"
for i in myName:
    print (i)

B
a
h
i
r
u

In [ ]:
# List from a string (splitting by space)
s1 = "Hello Coders, how are you?"
s2 = s1.split()
print(s2)
# List from a string (substrings of fixed length)
s3 = "Python"
s4 = [s3[i:i+2] for i in range(0, 10, 2)]
print(s4)

['Hello', 'Coders,', 'how', 'are', 'you?']
['Py', 'th', 'on', '', '']

**Task #5: Conditional Access**  
1. Create a list containing names of fruits.

In [ ]:
Fruit_list = ["Apple", "Blueberry", "Coconut", "Date", "Fig", "Plum", "Mango", "Watermelon"]

2. Write a function that takes a fruit name as input and checks if it  
exists in the list. If it does, print "Fruit found", otherwise print  
"Fruit not found".

In [ ]:
def check_fruit(Fruit_Name):
    if Fruit_Name in Fruit_list:
        print("Fruit found.")
    else:
        print("Fruit not found")

3. Test the function with different fruit names.

In [ ]:
check_fruit('Blueberry')

Fruit found.

In [ ]:
check_fruit("Banana")

In [ ]:
check_fruit("Fig")

**TASK #5**

In [ ]:
# Create a tuple containing names of fruits.

T = ("orage","banana","Apple")

def f(i):
    if i in T:
        print ("Found")
    else:
        print ("Not found")

# Create a dictionary containing names of fruits.

D = {"orange":True,"banana":True,"Apple":True}
def g(i):
    if i in D:
        print ("Found")
    else:
        print ("Not found")

In [ ]:
g("orange")

Found

In [ ]:
f('Fig')

Not found