In [ ]:
import numpy as np
import pandas as pd

### Project1 - Housing In Mexico

Here, we'll learn:

- How to organize information using basic Python data structures.
- How to import data from CSV files and clean it using the pandas library.
- How to create data visualizations like scatter and box plots.
- How to examine the relationship between two variables using correlation.

**Problem / Question:**
- Which factor, location or size, exerts a greater influence on house prices in Mexico?

**Data Collection:**

In this project, we'll work with mexico-real-esate datasets 
- Data Source: open data
- Data type: csv (#3)

**Wrangling / Preprocessing:**

**EDA:**

### Data Wrangling (Munging)

- The first part of any data science project is preparing your data, which means making sure its in the right place and format for you to conduct your analysis.

**1.1   Import**
-  The first step of any data preparation is importing your raw data and cleaning it.

In [ ]:
df1 = pd.read_csv("C:/Users/user/DSFolder/mx/mexico-real-estate-1.csv")
df2 = pd.read_csv("C:/Users/user/DSFolder/mx/mexico-real-estate-2.csv")
df3 = pd.read_csv("C:/Users/user/DSFolder/mx/mexico-real-estate-3.csv")

Inspect each DataFrames: 
- By looking at its `shape` attribute. 
- Then use the `info` method to see the data types and number of missing values for each column. 
- Finally, use the `head` method to determine to look at the first five rows of your dataset.

**1.2 Data Cleaning**

**Clean df1:**

In [ ]:
df1.info()

In [ ]:
df1.head()

Here, we can observe that:
- There are many missed rows (NAN) in `lan` and `lon` columns
- The column `Unamed:0` should be dropped
- The data type for the `"price_usd"` column is `object` when it should be `float`. (this is because of `'$'` and `','`)

# Removing NaN value in the exsiting data frame, not new
df1.dropna(inplace=True)
# Drop the first column
df1.drop(columns=["Unnamed: 0"],inplace=True)

# Transorm price from object to float
df1["price_usd"]=(
    df1["price_usd"]
    .str.replace("$","",regex=False)
    .str.replace(",","")
    .astype(float)
)

NB:
- `replace(source, replacement, count)`- is a method associated with strings that allows you to replace occurrences of a substring (source) with another substring (replacement). Optionally, you can specify the maximum number of replacements to make with the count parameter (default is all occurrences).
- regex=False: This is an optional argument for the replace() method. It specifies whether to treat the source string as a literal string (False) or a regular expression (True). Here, regex=False indicates we're dealing with a plain string, not a pattern.

In [ ]:
original_string = "This string has $10 and $20."
modified_string = original_string.replace("$", "")
print(modified_string)  # Output: This string has 10 and 20.

**Clean df2:**

Here, we can notice:
- There are many null values (NAN) in `lan` and `lon` columns
- The column `Unamed:0` should be dropped
- The data type for the `"price_mxn"` column is `int64`. (but should be in US dollar `"price_usd"`)
    - If we want to compare all the home prices in this dataset, they all need to be in the same currency.
- Drop `"price_mxn"` column

df2.dropna(inplace=True)
df2.drop(columns=["Unnamed: 0"],inplace=True)

# Create price_usd column dividing by 16.74
df2["price_usd"]=(df2["price_mxn"]/16.74). round(2)
df2.drop(columns=["price_mxn"],inplace=True)
df2.head()

**Cean df3:**

Here, we can notice:
- There are many null values (NAN) in `lan` and `lon` columns
- The column `Unamed:0` should be dropped
- Split `lat-lon` column into two separted column `lat` and `lon`

- Create a `State` column from `"place_with_parent_names"`
- Finally, drop the `"place_with_parent_names"` and `"lat-lon"` columns from the DataFrame

df3.dropna(inplace=True)
df3.drop(columns=["Unnamed: 0"],inplace=True)

# split lat-lon cln into two separted cln lat and lon
df3[["lat","lon"]]=df3["lat-lon"].str.split(",", expand=True)

df3.head()

df3["state"]= df3["place_with_parent_names"].str.split("|", expand=True)[2]
df3.drop(columns=["place_with_parent_names","lat-lon"],inplace=True)

df3.head()

**Concatenate DataFrame**

- You have three clean DataFrames, and 
- now it's time to combine them into a single DataFrame so that you can conduct your analysis.

df = pd.concat([df1,df2,df3])
print(df.shape)
df.head()

**Save/write df**

- The data is clean and in a single DataFrame, and now you need to save it as a CSV file so that you can examine it in your exploratory data analysis.

df.to_csv("C:/Users/user/DSFolder/mx/mexicoData_clean.csv", index=False)